
<div class="products-left-sidebar">
  <div class="sellix-left-sidebar-container">
    {% for block_name in settings.block_order %}
      {%- render_block block_name -%}
    {% endfor%}
  </div>
</div>
